@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --peach: #e7816b;
  --black: #1d1c1e;
  --white: #ffffff;
  --light-peach: #ffad9b;
  --dark-grey: #333136;
  --light-grey: #f1f3f5;
}

.jost-regular {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.jost-medium {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
}

header {
  display: flex;
  flex-direction: column;

  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.hero-section {
  background-color: var(--peach);
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../assets/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  background-position: center left
    clamp(0rem, calc(-9.542rem + 40.712vw), 10rem);

  max-height: 52.6875rem;
  overflow: hidden;

  & .hero-text {
    padding-block-start: clamp(3.75rem, calc(6.193rem + -5.089vw), 5rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.688rem, calc(1.054rem + -0.763vw), 0.875rem);
    & h1 {
      padding-inline: clamp(1.5rem, calc(-0.528rem + 8.651vw), 3.625rem);

      font-size: clamp(2rem, calc(1.046rem + 4.071vw), 3rem);
      line-height: 1.125;
    }

    & p {
      /* padding-inline: clamp(1.5rem, calc(-0.528rem + 8.651vw), 3.625rem); */
      padding-inline: clamp(1.5rem, calc(-4.046rem + 23.664vw), 7.313rem);

      font-size: clamp(0.938rem, calc(0.878rem + 0.254vw), 1rem);
      line-height: 1.66;
    }

    & button {
      margin-block-start: clamp(0.625rem, calc(-0.508rem + 4.835vw), 1.813rem);
      text-transform: uppercase;
      font-size: 0.938rem;
      line-height: 1.46;
      background-color: var(--white);
      color: var(--dark-grey);
      letter-spacing: 0.0625rem;
      padding-inline: 1.5rem 1.568rem;
      padding-block: 1.125rem 1rem;
      border-radius: 0.5rem;
      z-index: 99;

      &:hover {
        cursor: pointer;
        background-color: var(--light-peach);
        color: var(--white);
      }
    }
  }
  & img {
    width: 35.8125rem;

    margin-inline: clamp(-6.5rem, calc(-17.473rem + 46.819vw), 5rem);
    /* margin-inline: 0; */
    max-width: none;

    margin-block-start: clamp(-4.5rem, calc(-5.931rem + 6.107vw), -3rem);
  }
}

#desktop-menu {
  display: none;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--black);

  & .get-in-touch-cont {
    position: absolute;
    gap: 2rem;

    /* top: 0;
    bottom: 0; */
    top: clamp(-16.5rem, calc(-7.462rem + -18.83vw), -11.875rem);
    left: 0;
    right: 0;
    /* bottom: 0; */
    border-radius: 0.5rem;
    margin-inline: clamp(1.5rem, calc(0.605rem + 3.817vw), 2.438rem)
      clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem);
    margin-block: auto;
    position: absolute;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--peach);

    overflow: hidden;

    padding-inline: clamp(1.5rem, calc(-0.528rem + 8.651vw), 3.625rem);
    padding-block: clamp(3.563rem, calc(4.417rem + -1.781vw), 4rem);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      /* width: 100%;
      height: 100%; */
      /* background-image: url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg); */
      background-image: url(../assets/shared/desktop/bg-pattern-small-circle.svg);
      /* background-size: fill; */
      background-size: 18.25rem 18.25rem;
      background-position: right clamp(0rem, calc(37.13rem + -77.354vw), 19rem)
        bottom clamp(-5rem, calc(-19.313rem + 61.069vw), 10rem);
      /* background-position: right 0rem bottom 10rem; */
      transform: rotateY(180deg);
      /* background-size: 54.75rem 36.5rem; */
      /* background-position: right -0.5rem bottom 9.125rem; */
      /* background-position: right 6rem bottom 9.125rem; */
      /* transform: scale(2); */
      /* background-repeat: no-repeat; */
      /* background-repeat: repeat-y; */
    }

    & .get-in-touch-info {
      position: relative;
      gap: clamp(0.375rem, calc(0.136rem + 1.018vw), 0.625rem);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & h3 {
      font-size: clamp(2rem, calc(1.523rem + 2.036vw), 2.5rem);
      line-height: 1.125;
    }

    & p {
      font-size: clamp(0.938rem, calc(0.878rem + 0.254vw), 1rem);
      line-height: 1.66;
    }

    & button {
      background-color: var(--white);
      color: var(--dark-grey);
      text-transform: uppercase;
      font-size: 0.938rem;
      letter-spacing: 0.063rem;
      line-height: 1.46;
      border-radius: 0.5rem;
      padding-inline: 1.125rem 1.188rem;
      padding-block: 1.063rem;
      z-index: 99;

      &:hover {
        cursor: pointer;
        background-color: var(--light-peach);
        color: var(--white);
      }
    }
  }
}
.footer-info {
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-areas:
    "logo"
    "directory"
    "info";
  padding-block: clamp(15.813rem, calc(21.001rem + -22.137vw), 10.375rem)
    clamp(4rem, calc(3.046rem + 4.071vw), 5rem);

  text-align: center;
  justify-items: center;
  padding-inline: clamp(1.5rem, calc(0.605rem + 3.817vw), 2.438rem);
  color: var(--white);
  /* height: 100%; */

  & .footer-logo {
    grid-area: logo;
    border-bottom: 1px solid hsl(from var(--white) h s l / 0.1);
    width: 100%;
    padding-block-end: clamp(2rem, calc(1.523rem + 2.036vw), 2.5rem);
    & img {
      width: 12.625rem;
      margin: auto;
    }
  }
  & .directory-cont {
    grid-area: directory;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    line-height: 1;

    gap: clamp(2rem, calc(1.404rem + 2.545vw), 2.625rem);
    padding-block-start: 2rem;
    /* padding-block-start: clamp(0rem, calc(-1.908rem + 8.142vw), 2rem); */
    padding-block-end: clamp(0rem, calc(-2.385rem + 10.178vw), 2.5rem);
    display: flex;
    flex-direction: column;
    /* width: 100%; */

    & button:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  & .info {
    grid-area: info;
    padding-block-start: clamp(1.938rem, calc(3.037rem + -2.29vw), 2.5rem);
    gap: clamp(1.938rem, calc(3.037rem + -2.29vw), 2.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .address,
  .tel {
    opacity: 50%;
  }

  & .links {
    grid-area: links;
    display: flex;
    gap: 1rem;
    /* padding-block-start: clamp(1.938rem, calc(3.037rem + -2.29vw), 2.5rem); */

    & svg {
      color: var(--peach);

      &:hover {
        cursor: pointer;
        color: var(--light-peach);
      }
    }
  }
}
#mobile-popover-menu:popover-open {
  border: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  & menu {
    padding-inline: clamp(1.5rem, calc(0.605rem + 3.817vw), 2.438rem);
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    list-style: none;
    line-height: 1.04;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }

  &::backdrop {
    background-color: hsl(from var(--black) h s l / 0.5);
  }
}

.logo {
  height: 1.6875rem;
}

.logo-padding {
  padding-inline: clamp(1.5rem, calc(0.605rem + 3.817vw), 2.438rem);

  padding-block: clamp(2.188rem, calc(0.458rem + 7.379vw), 4rem)
    clamp(2.125rem, calc(0.336rem + 7.634vw), 4rem);
}
.projects-section {
  display: grid;
  justify-items: center;
  justify-content: center;
  /* padding-inline: clamp(2.438rem, calc(-6.562rem + 18.75vw), 10.313rem)
    clamp(2.438rem, calc(-6.491rem + 18.601vw), 10.25rem); */
  /* padding-inline: clamp(1.5rem, calc(0.605rem + 3.817vw), 2.438rem)
    clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem); */

  padding-block: 7.5rem;
  grid-template-areas:
    "web"
    "app"
    "graphic";
  text-align: center;
  row-gap: 1.5rem;
  column-gap: 1.875rem;

  & .web-project {
    display: grid;
    grid-area: web;
    & .project-info {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }
    & picture {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }
  }
  & .app-project {
    display: grid;
    grid-area: app;

    & .project-info {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }
    & picture {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }
  }

  & .graphic-project {
    display: grid;
    grid-template-columns: min-content;
    grid-area: graphic;

    & .project-info {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }
    & picture {
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    }
  }
  & img {
    border-radius: 0.9375rem;
    max-width: none;
    /* object-fit: cover; */
  }

  & .project-info {
    border-radius: 0.9375rem;
    color: var(--white);
    text-transform: uppercase;
    background-color: hsl(from var(--black) h s l / 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(0.748rem, calc(0.031rem + 3.061vw), 1.5rem);
    & h2 {
      font-size: clamp(1.75rem, calc(1.034rem + 3.053vw), 2.5rem);
      letter-spacing: clamp(0.088rem, calc(0.052rem + 0.153vw), 0.125rem);
      line-height: 1.28;
    }
    & a {
      color: inherit;
      text-decoration: none;
      font-size: 0.938rem;
      letter-spacing: 0.313rem;
      line-height: 1.46;
    }

    & .link-con {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
    }

    &:hover {
      cursor: pointer;
      background-color: hsl(from var(--peach) h s l / 0.8);
    }
  }
}
.popover-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.traits-section {
  padding-inline: clamp(1.5rem, calc(0.605rem + 3.817vw), 2.438rem)
    clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem);
  padding-block-end: clamp(19.438rem, calc(18.245rem + 5.089vw), 20.688rem);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: clamp(2rem, calc(7.863rem + -12.214vw), 5rem);

  & .trait-cont {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    & .trait-img-cont {
      position: relative;
      min-width: 12.625rem;
      /* flex: 1; */
      & .bg-img,
      .bg-img-2,
      .bg-img-3 {
        position: absolute;
        transform: rotate(0deg);
        width: 12.625rem;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      & .bg-img-2 {
        transform: rotate(260deg);
      }
      & .bg-img-3 {
        transform: rotate(90deg);
      }
      & img {
        margin: auto;
      }
    }

    & .trait-info {
      display: flex;
      flex-direction: column;
      gap: clamp(1rem, calc(2.954rem + -4.071vw), 2rem);
      color: var(--dark-grey);

      & h2 {
        text-transform: uppercase;
        font-size: 1.25rem;
        letter-spacing: 0.313rem;
        line-height: 1.3;
      }

      & p {
        font-size: 1rem;
        line-height: 1.625;
      }
    }
  }
}
@media (max-width: 23.375rem) {
  .hero-section {
    & img {
      margin-inline: auto;
      /* max-width: 100%; */
      width: 100%;
      margin-block-start: 0;
      /* margin-block-end: -10rem; */
    }
  }
}
@media (min-width: 48rem) {
  #desktop-menu {
    display: flex;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    gap: 2.625rem;
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 0.125rem;
    & li:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  footer {
    position: relative;

    & .get-in-touch-cont {
      margin-inline: clamp(2.438rem, calc(-6.491rem + 18.601vw), 10.25rem)
        clamp(2.5rem, calc(-6.357rem + 18.452vw), 10.25rem);

      padding-block: clamp(3.563rem, calc(2.491rem + 2.232vw), 4.5rem);
      gap: clamp(0.625rem, calc(0.482rem + 0.298vw), 0.75rem);

      top: clamp(-16.5rem, calc(-19.643rem + 6.548vw), -13.75rem);

      & h3 {
        line-height: 1;
      }

      & p {
        line-height: 1.625;
      }
    }
  }
  .footer-info {
    padding-block: clamp(10.375rem, calc(11.946rem + -3.274vw), 9rem)
      clamp(5rem, calc(5.571rem + -1.19vw), 4.5rem);
    padding-inline: clamp(2.438rem, calc(-6.562rem + 18.75vw), 10.313rem);
    grid-template-areas:
      "logo logo directory"
      "info info info";

    & .footer-logo {
      /* border-bottom: 0; */

      & img {
        margin: 0;
      }
    }
    & .directory-cont {
      border-bottom: 1px solid hsl(from var(--white) h s l / 0.1);
      padding-block-start: 0rem;
      flex-direction: row;
      width: 100%;
    }
    & .info {
      flex-direction: row;
      width: 100%;
      align-items: flex-end;
      gap: clamp(3.563rem, calc(-6.366rem + 20.685vw), 12.25rem);
      text-align: left;
      /* justify-content: space-between; */
    }

    & .links {
      /* width: 100%; */

      margin-inline-start: auto;
    }
  }

  #hamburger {
    display: none;
  }

  .hero-section {
    margin-inline: clamp(2.438rem, calc(-6.562rem + 18.75vw), 10.313rem)
      clamp(2.438rem, calc(-6.491rem + 18.601vw), 10.25rem);
    border-radius: 0.9375rem;
    background-position: center left
      clamp(10rem, calc(-12.857rem + 47.619vw), 30rem);
    /* background-position: center left 30rem; */

    & .hero-text {
      & h1 {
        line-height: 1;
      }

      & p {
        line-height: 1.625;
      }
    }

    & img {
      margin-inline: auto;
    }
  }

  .logo-padding {
    padding-inline: clamp(2.438rem, calc(-6.562rem + 18.75vw), 10.313rem)
      clamp(2.438rem, calc(-6.491rem + 18.601vw), 10.25rem);

    padding-block-end: clamp(4rem, calc(3.786rem + 0.446vw), 4.188rem);
  }

  #mobile-popover-menu:popover-open {
    display: none;
  }
  .projects-section {
    /* padding-inline: clamp(2.438rem, calc(-6.491rem + 18.601vw), 10.25rem)
      clamp(2.5rem, calc(-6.357rem + 18.452vw), 10.25rem); */
    padding-block: clamp(7.5rem, calc(4.643rem + 5.952vw), 10rem);
    & .project-info {
      & h2 {
        line-height: 1.2;
      }
    }
  }

  .traits-section {
    text-align: left;
    padding-inline: clamp(2.438rem, calc(-6.491rem + 18.601vw), 10.25rem)
      clamp(2.5rem, calc(-6.357rem + 18.452vw), 10.25rem);
    padding-block-end: clamp(20.688rem, calc(17.188rem + 7.292vw), 23.75rem);
    & .trait-cont {
      flex-direction: row;

      & .trait-info {
        gap: clamp(1rem, calc(-0.143rem + 2.381vw), 2rem);
      }
    }
  }
}

@media (min-width: 90rem) {
  footer {
    & .get-in-touch-cont {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      & .get-in-touch-info {
        align-items: flex-start;
        text-align: left;

        & h3 {
          max-width: 15ch;
        }
        & p {
          max-width: 54ch;
        }
      }
    }
  }
  .hero-section {
    flex-direction: row;
    text-align: left;
    max-height: 40rem;

    & .hero-text {
      align-items: flex-start;
      padding-block-start: clamp(3.75rem, calc(-2.321rem + 12.649vw), 9.063rem);
      padding-inline: clamp(3.625rem, calc(0.982rem + 5.506vw), 5.938rem) 0;

      & h1 {
        padding-inline-start: 0;
      }
      & p {
        padding-inline-start: 0;
        padding-inline-end: 7.8rem;
      }
    }
    & img {
      margin-block-start: 0;
      margin-block-end: -15rem;
      margin-inline: -4rem;
    }
  }

  .projects-section {
    grid-template-areas:
      "web app"
      "web graphic";
  }

  .traits-section {
    text-align: center;
    flex-direction: row;
    & .trait-cont {
      flex-direction: column;
    }
  }
}
