@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --peach: rgb(231, 129, 107);
  --black: rgb(29, 28, 30);
  --white: rgb(255, 255, 255);
  --light-peach: rgb(255, 173, 155);
  --dark-grey: rgb(51, 49, 54);
  --light-grey: rgb(241, 243, 245);
}

.jost-regular {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.jost-medium {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
}

header {
  display: flex;
  flex-direction: column;

  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#desktop-menu {
  display: none;
}

#mobile-popover-menu:popover-open {
  border: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 1.6875rem;
}

.logo-padding {
  padding-inline: clamp(1.5rem, calc(0.605rem + 3.817vw), 2.438rem);

  padding-block: clamp(2.188rem, calc(0.458rem + 7.379vw), 4rem)
    clamp(2.125rem, calc(0.336rem + 7.634vw), 4rem);
}

.popover-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

@media (min-width: 48rem) {
  #desktop-menu {
    display: flex;
  }

  #hamburger {
    display: none;
  }

  .logo-padding {
    padding-inline: clamp(2.438rem, calc(-6.562rem + 18.75vw), 10.313rem)
      clamp(2.438rem, calc(-6.491rem + 18.601vw), 10.25rem);

    padding-block-end: clamp(4rem, calc(3.786rem + 0.446vw), 4.188rem);
  }

  #mobile-popover-menu:popover-open {
    display: none;
  }
}
